In [1]:
import numpy as np
import pandas as pd

df_movies = pd.read_csv('tmdb_5000_movies.csv')
df_credits = pd.read_csv('tmdb_5000_credits.csv')

df_credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [2]:
# MERGING THE BOTH DATAFRAME
df_merge=df_movies.merge(df_credits,on='title')

# MAKE THE COPY
df_copy = df_merge.copy(deep=True)

# columns that we includes 
# 1 genres id keyword title overview cast crew

df_copy=df_copy[['movie_id','title','overview','genres','keywords','cast','crew']]

In [3]:
# find the null values and drop them
df_copy.isnull().sum()

df_copy.dropna(inplace=True)

# check the duplicate values
df_copy.duplicated().sum()

0

In [4]:
df_copy.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [5]:
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# now convert this into [Action,fantasy,scifi]

In [6]:
import ast
def convert(obj):
    if isinstance(obj, str):
        hai= [i['name'] for i in ast.literal_eval(obj)]
        return hai
    elif isinstance(obj, list):
        return obj  # already converted
    else:
        return []

In [7]:
# now apply this convert into genres
df_copy['genres'] = df_copy['genres'].apply(convert)

In [8]:
df_copy['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [9]:
df_copy['keywords'] = df_copy['keywords'].apply(convert)

In [10]:
import ast

def convert3(obj):
    L = []
    counter = 0

    # if obj is string → convert
    if isinstance(obj, str):
        lis = ast.literal_eval(obj)

    for i in lis:
        if counter < 3:
            # if dict → extract name
            if isinstance(i, dict):
                L.append(i['name'])
            else:
                L.append(i)
            counter += 1
        else:
            break

    return L

In [11]:
df_copy['cast']=df_copy['cast'].apply(convert3)

In [12]:
df_copy.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [13]:
# only get the director values
def director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [14]:
df_copy['crew'] = df_copy['crew'].apply(director)

In [15]:
df_copy.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [16]:
# convert the overview into list
df_copy['overview'] = df_copy['overview'].apply(lambda x:x.split())# it convert the string into list not in data_type

In [17]:
df_copy['overview'].head()

0    [In, the, 22nd, century,, a, paraplegic, Marin...
1    [Captain, Barbossa,, long, believed, to, be, d...
2    [A, cryptic, message, from, Bond’s, past, send...
3    [Following, the, death, of, District, Attorney...
4    [John, Carter, is, a, war-weary,, former, mili...
Name: overview, dtype: object

In [18]:
for col in ['crew','genres','keywords','cast']:
    df_copy[col] = df_copy[col].apply(lambda x: [i.replace(" ","") for i in x] if isinstance(x, list) else [])

In [19]:
df_copy.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]

In [20]:
#concat the columns
df_copy['tags'] =  df_copy['overview']+ df_copy['genres']+ df_copy['keywords']+ df_copy['cast']+ df_copy['crew']
new_df_copy = df_copy[['movie_id','title','tags']]
new_df_copy

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [21]:
# convert it back  into string
new_df_copy['tags'] = new_df_copy['tags'].apply(lambda x:' '.join(x))
# join=is used so it combine multiple string in the list into single list
# ' ' = tells to make a gap b/w words

C:\Users\ASUS\AppData\Local\Temp\ipykernel_14560\2276130750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_copy['tags'] = new_df_copy['tags'].apply(lambda x:' '.join(x))

In [22]:
# 
new_df_copy.head(1)

   movie_id   title                                               tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [23]:
# string
new_df_copy['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [24]:
# recommended make lower case
new_df_copy['tags'] = new_df_copy['tags'].apply(lambda x:x.lower())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_14560\3231497314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_copy['tags'] = new_df_copy['tags'].apply(lambda x:x.lower())

In [25]:
new_df_copy['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [26]:
# It cuts off endings of words so that similar words are #    treated as the same word. connections → connect
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer() # Creates a stemmer object that can reduce words to their root form.
# like running => run
def stem(text):
    y=[]
    for i in text.split(): 
        y.append(ps.stem(i)) # Splits the sentence into individual words in a list format
        
    return " ".join(y) # after convert list back to string

new_df_copy['tags']=new_df_copy['tags'].apply(stem)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_14560\783688218.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_copy['tags']=new_df_copy['tags'].apply(stem)

In [27]:
# now for similarity calculate b/w movies by vectorisation
#CountVectorizer = convert text->vectors
# so it count how many time a word come 
# and use cosine similarity means find the distance among 1 movies with all the movie in the vector plane 

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
vector = cv.fit_transform(new_df_copy['tags']).toarray()

vector[0]# first movie Avatar

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [28]:
# name of 5000 features name
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [29]:
# FIND THE DISTANCE AMONG VECOTRS BY USING ANGLE 
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
similarity.shape
#it calculate the similarity of single vector by each and every vector

(4806, 4806)

In [30]:
# function for geting the index of the similar of the movie

def recommend(movie):
    movie_index=new_df_copy[new_df_copy['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
 
    for i in movies_list:
        print(new_df_copy.iloc[i[0]].title)

In [31]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.